table, th, td {
  border: 1px solid #415e6c;
}

table {
  margin-bottom: 1.6rem;
  width: 100%;
}

td {
  padding-left: 2px;
}

.td-progress {
  padding-left: 0px;
}

.no-margin {
  margin-bottom: 0rem;
}

.progress-container {
  display: grid;
  grid-template-columns: fit-content(100%) 5fr;
  grid-gap: 1px;
  padding: 1px;
  background-color: #415e6c;
}

.progress-container>div {
  background-color: white;
}

.progress-bar {
  background-color: skyblue;
  display: block;
  height: 100%;
}

.progress-text {
  position: absolute;
  margin-left: 2px;
}

.progress-title {
  padding-left: 2px;
}

.total-progress-container {
  height: 10px;
  width: 100%;
  border: 1px solid #415e6c;
  margin-bottom: 0.4rem;
}

.total-progress {
  background-color: skyblue;
  height: 100%;
}