table, th, td {
  border: 1px solid #415e6c;
}

table {
  margin-bottom: 1.6rem;
  width: 100%;
}

td {
  padding-left: 2px;
}

.td-progress {
  padding-left: 0px;
}

.no-margin {
  margin-bottom: 0rem;
}

.progress-title {
  border: 1px solid #415e6c;
  box-sizing: border-box;
  float: left;
  clear: left;
  width: 20%;
}
.progress-bar {
  border: 1px solid #415e6c;
  box-sizing: border-box;
  float: left;
  clear: right;
  width: 80%
}
.progress {
  background-color: #92d0ee;
}

.total-progress {
  height: 100%;
}
p {
  clear: both;
}

.total-progress-container {
  height: 10px;
  width: 100%;
  border: 1px solid #415e6c;
  margin-bottom: 0.4rem;
}