table, th, td {
  border: 1px solid #415e6c;
}

table {
  margin-bottom: 1.6rem;
  width: 100%;
}

td {
  padding-left: 2px;
}

.td-progress {
  padding-left: 0px;
}

.no-margin {
  margin-bottom: 0rem;
}

.progress {
  background-color: #92d0ee;
  padding-left: 2px;
}